{% extends "base.html" %}
{% block title %}Журнал{% endblock %}
{% block content %}
<div id="date-time-menu">
    <label for="date">Дата:</label>
    <input type="date" id="date">
    <label for="time">Время:</label>
    <input type="time" id="time">
    <button class="button">Показать</button>
</div>
<table id="table" class="table table-dark">
    <thead>
    <th>Время</th>
    <th>Декодированный пакет</th>
    <th>Сырой пакет</th>
    </thead>
    <tbody>
    {% for packet in packets %}
    <tr>
        <td>{{ packet.date | date:"d M Y H:i:s" }}</td>
        <td>{{ packet.packet }}</td>
        <td>{{ packet.raw_packet }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    jQuery(function () {
        let table = new DataTable('#table');

    })
</script>
{% endblock %}


